---
layout: default
---
<div>
  {{ content }}
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {%- if site.posts.size > 0 -%}
  {%- for post in site.posts -%}
  <div class="row">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div>
          <a class="h5 card-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </div>
        <div>{{ post.date | date: date_format }}</div>
      </div>
      <div class="card-body">
        {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
      </div>
    </div>
  </div>
  {%- endfor -%}
  {%- endif -%}
</div>
